.App {
  text-align: center;
}
/* section{
  padding-left: 50px;
} */

.contact_detail
{
  margin-bottom: 4em;
 
}
/* Place your CSS styles in this file */
* {
  box-sizing: border-box;
}

.hero {
  background-image: url("assets/images/webdeveloper2.jpg");
  width: 100%;
  height: 350px;
  align-items: center;
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

body {
  background-color: rgb(236, 187, 203);
  margin: 0;
}

.name {
  color: red;
  font-weight: bold;
}

h2 {
  text-align: center;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
}

.image1 {
  width: 35%;
  float: left;
}

.image {
  width: 400px;
  padding: 50px 0 0 30px;
  max-width: 100%;
  height: auto;
}

.details {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 65%;
  padding-top: 30px;
}

p {
  font-size: 24px;
}

li {
  font-size: 20px;
  line-height: 30px;
}

button {
  background-color: white;
  width: 100px;
  height: 40px;
  border-radius: 10px;
}

.button_div {
  display: flex;
  justify-content: center;
}

.container {
  width: 60%;
  background-color: #ddd;
  border-radius: 30px;
}
.my_skill{
  text-align: left;
}
.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {
  width: 70%;
  background-color: #04AA6D;
}

.css {
  width: 60%;
  background-color: #2196F3;
}

.js {
  width: 40%;
  background-color: #f44336;
}

.angular {
  width: 60%;
  background-color: #808080;
}

@media only screen and (max-width: 600px) {
  .image1 {
    width: 100%;
  }
  .details {
    padding-left: 30px;
  }
}
@media only screen and (max-width: 600px) {
  .image1 {
    width: 100%;
  }
  .details {
    padding-left: 30px;
  }
}